@import "colors";
@import "mixins";
@import "fonts";

.custom-btn {
  background-color: $bright-turquoise;
  color: $black;
  font-size: $fs-16px;
  @include setFont(500, normal, normal, normal, center);
  font-family: $roboto-light;
  padding: 0.25rem !important;
  &:hover {
    background-color: $bright-turquoise !important;
    color: $black !important;
  }
  &:focus {
    background-color: $bright-turquoise !important;
    color: $black !important;
    box-shadow: none !important;
  }
}

.custom-btn-sin-yellow {
  background-color: $sin-yellow;
  color: $black;
  font-size: $fs-16px;
  border-radius: $fs-8px !important;
  @include setFont(500, normal, normal, normal, center);
  @include setPadding($fs-8px, $fs-20px, $fs-8px, $fs-20px);
  font-family: $roboto-medium;
  border-color: $sin-yellow;
  &:hover {
    background-color: $sin-yellow !important;
    color: $black !important;
    border-color: $sin-yellow;
  }
  &:focus {
    background-color: $sin-yellow !important;
    color: $black !important;
    box-shadow: none !important;
    border-color: $sin-yellow;
  }
}
